.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0a3;
  backdrop-filter: blur(4px);
  display: none;
  z-index: 130;
  overflow-y: auto;
}

.pop-up {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: none;
  z-index: 132;
  padding: 2%;
  max-height: calc(100% - 40px);
  border-radius: 12px;
  width: 90%;
  height: 90%;
  margin-top: 8%;
}

#close-pop {
  font-size: 31px;
  color: #67798e;
}

div #close-pop {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 1%;
}

.title-pop-up {
  font-size: 24px;
  position: relative;
  top: -10%;
}

.frame-pop {
  width: 65%;
  position: relative;
  top: -24%;
}

.pop-up-img {
  display: flex;
  justify-content: center;
  position: relative;
  top: -25%;
}

.pop-up-image.desktop {
  width: 100%;
  height: 276px;
  position: relative;
  top: 9%;
}

a.btn {
  color: black;
}

.tag-pop-up {
  border-radius: 8px;
  padding: 2%;
  margin-top: -43%;
  width: 75%;
  margin-left: -2%;
}

a.project-tech {
  background: #ebebff;
  border-radius: 8px;
  padding: 2%;
  margin-top: 4%;
  margin-right: 5%;
  color: #6070ff;
}

.no-scroll {
  overflow: hidden;
}

.text-pop-up {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  position: relative;
  top: -24%;
}

.buttons-pop {
  position: relative;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-pop {
  color: #6070ff;
  border: 1px solid;
  border-radius: 8px;
  padding: 0% 6%;
}

.icon-pop {
  position: relative;
  top: 6px;
}

@media screen and (min-width: 769px) {
  .pop-up {
    top: 35%;
    width: 60%;
  }

  .title-pop-up {
    font-size: 26px;
    position: relative;
    top: -5%;
  }

  .frame-pop {
    width: 36%;
    top: -13%;
  }

  .pop-up-img {
    top: -13%;
  }

  .text-pop-up {
    width: 65%;
    top: -9%;
  }

  .tag-pop-up {
    position: relative;
    left: 64%;
    margin-top: -21%;
  }

  .buttons-pop {
    width: 40%;
    margin-top: 1%;
    margin-left: 62%;
    justify-content: space-around;
  }

  .btn-pop {
    color: #6070ff;
    border: 1px solid;
    border-radius: 8px;
    padding: 0% 3%;
    font-size: 13px;
  }
}
