.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0a3;
  backdrop-filter: blur(4px);
  display: none;
  z-index: 130;
  overflow-y: auto;
}

.pop-up {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: none;
  z-index: 132;
  padding: 2%;
  max-height: calc(100% - 40px);
  border-radius: 25px;
  width: 90%;
  height: 87%;
  margin-top: 8%;
}

#close-pop {
  font-size: 31px;
  color: #67798e;
}

div #close-pop {
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 1%;
}

.title-pop-up {
  font-size: 24px;
  position: relative;
  top: -10%;
}

.frame-pop {
  width: 65%;
  position: relative;
  top: -24%;
}

.pop-up-img {
  display: flex;
  justify-content: center;
  position: relative;
  top: -25%;
}

.pop-up-image.desktop {
  width: 100%;
  height: 250px;
}

a.btn {
  color: black;
}

.tag-pop-up {
  border-radius: 8px;
  padding: 2%;
  margin-top: -43%;
  width: 75%;
  margin-left: -2%;
}

a.project-tech {
  background: #ebebff;
  border-radius: 8px;
  padding: 2%;
  margin-top: 4%;
  margin-right: 5%;
  color: #6070ff;
}

.no-scroll {
  overflow: hidden;
}

.text-pop-up {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  position: relative;
  top: -24%;
}

.buttons-pop {
  position: relative;
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-pop {
  color: #6070ff;
  border: 1px solid;
  border-radius: 8px;
  padding: 0% 6%;
}

.icon-pop {
  position: relative;
  top: 6px;
}
