@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

nav {
  background-color: white;
  position: fixed;
  display: flex;
  padding-top: 5%;
  width: 100vw;
  z-index: 2000;
}

#open {
  font-size: 160%;
  left: 439%;
  position: relative;
  top: -40%;
  padding: 1%;
  margin-top: -7%;
}

/* stylelint-disable */
#open:hover {
  transform: scale(110%);
  transition: 1s;
}
/* stylelint-enable */

/* stylelint-disable */
#close {
  background: transparent;
  color: white;
  font-size: 160%;
  position: relative;
  left: 79%;
  top: 1%;
  font-weight: bold;
  border: 0;
}
/* stylelint-enable */

/* stylelint-disable */
#close:hover {
  transform: scale(165%);
  transition: 1s;
}
/* stylelint-enable */

.navbar-logo {
  position: relative;
  left: 25%;
  background-color: white;
}

.navbar-logo:hover {
  transform: rotate(5deg);
  transition: 1.5s;
}

a {
  color: #f5f6ff;
}

.menu-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #6070ffb4;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(5px);
}

.menu-mobile.observable {
  opacity: 1;
  visibility: visible;
}

#main_links {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-weight: 400;
  font-size: small;
  margin-left: 10%;
  color: white;
  padding-top: 16%;
}

.link {
  font-size: 30px;
  margin-bottom: 15%;
  padding-top: 5%;
}

a.navbar-logo {
  color: #6070ff;
  width: 90px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

a.navbar-logo:hover {
  transform: rotate(5deg);
  transition: 1.5s;
}

#about {
  background: white;
  background-image: url('images/shapes.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 6%;
  padding-top: 40%;
  margin: 0;
  padding-bottom: 40%;
  border-bottom-left-radius: 80px;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 90%;
  height: 40%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 15%;
}

h2 {
  width: 90%;
  height: 40%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-top: -10%;
  margin-bottom: -7%;
}

p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
  width: 90%;
  padding: 2% 0;
  font-size: 15px;
}

.main-connect {
  display: flex;
  flex-direction: row;
}

.project {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#color {
  padding: -10%;
  color: #7f8cff;
}

#social {
  width: 60%;
  margin-bottom: 37%;
}

#social img {
  margin-right: 8%;
}

div#final {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 8%;
  z-index: 500;
}

#cards {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.card {
  display: grid;
  grid-gap: 1.5%;
  box-sizing: border-box;
  padding-top: 10%;
  padding-bottom: 20%;
  width: 90%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 15% 5%;
}

.pic {
  justify-self: center;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.tag {
  background: #ebebff;
  border-radius: 8px;
  padding: 4% 3%;
  margin-top: 4%;
}

img.screen-pic {
  justify-self: center;
}

/* stylelint-disable */
img.screen-pic:hover {
  transition: 2s;
  transform: scale(102%);
}
/* stylelint-enable */

.java {
  width: 10%;
}

.button-project {
  display: flex;
  justify-content: center;
  width: 40%;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 4% 4%;
  transition: 0.5s;
  cursor: pointer;
  color: #396df2;
  margin-top: 6%;
}

.button-.button-project {
  background: #2230d2;
  color: #fff;
}

.button-project:hover {
  background: #6070ff;
  color: #fff;
  transition: 0.5s;
}

#myself {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 25%;
  border-top-right-radius: 60px;
  padding-bottom: 10%;
}

.about-myself {
  width: 100%;
  height: 50vh;
}

#myself img {
  background: white;
  margin-top: 5%;
}

#resume {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  cursor: pointer;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 4% 4%;
  margin-bottom: 5%;
  position: relative;
  left: 5%;
}

#resume:hover {
  background: #6070ff;
  color: #fff;
  transition: 0.5s;
}

.text-card {
  padding-left: 8%;
}

.contact-me {
  background-color: #6070ff;
  border-top-left-radius: 90px;
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 35%;
  padding-bottom: 10%;
  margin-top: 15%;
  background-image: url('images/shapes3.svg');
  background-repeat: no-repeat;
  background-size: 145% 93%;
}

#contact_title {
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 2%;
  margin-top: -18%;
}

#form_text {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #ebebff;
  width: 90%;
  margin-bottom: 8%;
  text-align: center;
}

#form_text:hover {
  transition: 2s;
  transform: translate(3%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  color: #172b4d;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-top: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
  width: 100%;
  margin-bottom: 4%;
}

textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  color: #b3bac5;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  padding-top: 4%;
  padding-left: 4%;
  padding-bottom: 20%;
  margin-bottom: 5%;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 5%;
  width: auto;
  background: #fff;
  border-radius: 10px;
  color: #6070ff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  cursor: pointer;
  border: white;
}

button:hover {
  background: #6070ff;
  color: #fff;
  transition: 0.5s;
  border: 1px solid white;
}

button:active {
  background: #2230d2;
  color: #fff;
  transition: 0.5s;
}

.tag a {
  color: rgba(134, 30, 134, 0.877); /* Usa 'purple' o un código como #800080 */
  text-decoration: none; /* Opcional: elimina el subrayado */
}

.skills-section {
  display: flex;
  margin: 5%;
}

.framework {
  width: 25%;
}
@media only screen and (min-width: 768px) {
  a.navbar-logo {
    left: -567%;
  }

  #open,
  #close {
    display: none;
  }

  .menu-mobile {
    opacity: 1;
    visibility: visible;
    background: transparent;
    backdrop-filter: none;
    height: auto;
    margin-top: -5%;
  }

  .menu-mobile a {
    color: #344563;
    font-size: 12px;
  }

  #main_links {
    display: flex;
    width: 25%;
  }

  ul#main_links {
    position: relative;
    flex-direction: row;
    padding-top: 7%;
    left: 4%;
  }

  #about {
    background: white;
    background-image: url('images/desk-shapes.svg');
    background-repeat: no-repeat;
    background-size: 101% 100%;
    border-bottom-left-radius: 80px;
    margin: 0;
    padding: 20% 16% 0% 16%;
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: rgb(255 255 255);
    position: fixed;
    top: 0.06%;
    padding: 3% 4% 1%;
    z-index: 2000;
  }

  #one {
    display: grid;
    grid-template-rows: 5fr;
    align-content: center;
    justify-items: start;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }

  h1.title {
    width: 50%;
    line-height: 50px;
    font-size: 35px;
    position: relative;
    top: -10%;
  }

  p#main_text.text {
    padding-top: 0;
    line-height: 20px;
    font-size: 16px;
    width: 90%;
    padding-bottom: 0;
    margin-left: -1%;
  }

  p#color {
    width: 100%;
  }

  .lets-connect {
    width: 100%;
  }

  div.social {
    margin-left: 15%;
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .card {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4%;
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    padding: 2% 0 2% 2%;
    margin: 6% 5%;
  }

  div.text-card {
    padding-left: 0;
    width: 90%;
  }

  #cards {
    display: flex;
    align-items: center;
    margin: 5%;
  }


  h2.title.cards {
    padding: 0;
    margin-top: -16%;
    font-size: 40px;
    position: relative;
    top: 11%;
    margin-bottom: 2%;
  }

  .screen-pic {
    width: 100%;
  }

  img.frame {
    width: 113%;
    position: relative;
    top: -6%;
    left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  img.frame2 {
    width: 59%;
    margin-left: -5%;
  }

  p.text {
    font-size: 14.5px;
    line-height: 16px;
    position: relative;
    top: -8%;
    left: 1%;
    margin: 1% 0;
    width: 100%;
  }

  p.text-multi {
    margin-left: -5%;
    width: 82%;
  }

  ul {
    width: 40%;
    position: relative;
    top: -6%;
    margin-bottom: 3%;
  }

  .code-links-multi {
    margin-left: -5%;
    width: 52%;
  }

  .tag a {
    color: rgba(128, 0, 128, 0.808); /* Usa 'purple' o un código como #800080 */
    text-decoration: none; /* Opcional: elimina el subrayado */
  }
  

  .button-project {
    width: 51%;
    padding: 4% 8%;
    position: relative;
    top: -6%;
    border-radius: 6px;
    margin-top: 6%;
  }

  .button-project.b-multi {
    width: 30%;
    padding: 2% 0%;
    margin-left: -5%;
  }

  a.button-project {
    font-size: 19px;
    width: 31%;
    padding: 2% 4%;
  }

  .card.card-one {
    width: 100%;
  }

  .card.card-two {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
  }

  .screen-pic.tonic {
    content: url('images/snapport.png');
    width: 100%;
  }

  .screen-pic.multi {
    content: url('images/portfolio-desktop-2.png');
    width: 50%;
    padding-right: 2%;
  }

  div.two.text-card {
    width: 50%;
    padding-left: 5%;
  }

  h2.multi.title.cards {
    width: 100%;
    margin-top: -18%;
    font-size: 40px;
    margin-left: -5%;
  }

  h2.tonic.title.cards {
    margin-top: -33%;
  }

  li.tag {
    margin-right: 10%;
    padding: 0 6%;
  }

  img.face.screen-pic {
    content: url('images/portfolio.png');
    width: 100%;
    height: 100%;
  }

  #last {
    margin-top: 2%;
    margin-bottom: 15%;
  }

  img#last_pic.pic {
    content: url(images/portfolio2.png);
    width: 100%;
    margin-right: 2%;
  }

  h2#last_title.title.cards {
    width: 100%;
    font-size: 30px;
  }

  section#myself {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 20%;
    margin-bottom: -15%;
    border-top-right-radius: 134px;
    margin-top: -5%;
  }

  #resume {
    font-size: 19px;
    position: relative;
    left: 18%;
    bottom: -40%;
    padding: 2%;
    border-radius: 7px;
    margin-top: 6%;
  }

  img#skills {
    content: url(images/skills-desk.png);
    width: 95%;
    margin-top: -21%;
    position: relative;
    height: 172%;
    left: -2%;
  }

  #last_h2 {
    font-size: 33px;
    padding-left: 13%;
    padding-top: 3%;
  }

  p#last_p.text {
    font-size: 15px;
    padding-left: 12%;
    padding-top: 0;
    line-height: 22px;
    margin-top: 0%;
    width: 95%;
  }

  p#color.last {
    padding-left: 13%;
    margin-top: -3%;
    font-size: 16px;
  }

  div#final {
    width: 39%;
    margin-left: 16%;
    margin-bottom: 7%;
  }

  section.contact-me {
    background-image: url('images/form-desk.svg');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    padding-top: 20%;
  }

  #contact_title {
    color: white;
    font-size: 45px;
  }

  p#form_text {
    font-size: 22px;
    width: 50%;
    line-height: 30px;
    margin-top: -1%;
    margin-bottom: 1%;
  }

  input {
    padding: 1%;
    width: 40%;
    align-self: center;
    border-radius: 2px;
    margin-bottom: 2%;
  }

  textarea {
    padding: 1% 1% 7%;
    width: 40%;
    border-radius: 2px;
    align-self: center;
    margin-bottom: 2%;
    color: #172b4d;
  }

  button {
    align-self: center;
    width: 15%;
    font-size: 12px;
    padding: 1%;
    border-radius: 6px;
    position: relative;
    margin-top: 0.5%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }

  .grid-item {
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid-item.second-project {
    display: flex;
    flex-direction: row-reverse;
  }

  .error-message {
    display: none;
    background-color: #e26432;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 14px;
    width: 30%;
  }

  .error-message.active {
    display: flex;
    justify-content: center;
    align-self: center;
    animation: shake 1s ease-in-out;
    animation-fill-mode: both;
  }

  @keyframes shake {
    0%,
    100% { transform: translateX(0); }

    25%,
    75% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
  }

  .card-frame {
    width: 50%;
    position: relative;
    top: -5%;
    left: 1%;
  }
}

a.button-project.tonic {
  margin-bottom: 20%;
}

p#last_p.text,
p#color.last,
ul.social {
  margin-left: 5%;
}

p#last_p.text {
  margin-top: 4%;
}

#last_h2 {
  margin-left: 5%;
}

.a-tag {
  color: #6070ff;
}

#form-footer {
  display: flex;
  gap: 25px;
  width: 73%;
}

#form-footer button {
  width: 75vw;
}

.second-project h2.title.cards {
  margin-top: -10%;
}

.card:nth-child(3) img.frame {
  width: 74%;
}

.icon {
  z-index: 500;
}

.skills p {
  margin-bottom: 5%;
}

.boos {
  margin-top: 8%;
}
/* stylelint-disable-next-line rule */
