@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 20%;
  line-height: 75px;
  background: #fff;
  width: 95%;
}

nav .navbar-logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

nav .navbar-hamburger {
  display: flex;
  flex-direction: column;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-hamburger .bar {
  width: 20px;
  height: 3px;
  margin-bottom: 4px;
  background: #6070ff;
  border-radius: 18%;
  transition: 0.4s;
  position: relative;
  top: 21px;
}

#about {
  background-image: url('images/shapes.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 27%;
  margin: 0;
  padding-bottom: 40%;
  border-bottom-left-radius: 30%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

#about,
#aboutme {
  margin-top: 26%;
  display: flex;
  flex-direction: column;
}

h1 {
  width: 90%;
  height: 40%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

h2 {
  width: 90%;
  height: 40%;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

p {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
  width: 90%;
  padding: 2% 0;
}

.project {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  width: 90%;
  padding: 0 0 1% 0;
}

.social {
  display: flex;
  align-self: start;
  justify-content: space-around;
  width: 53%;
  margin: 1% 2%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  box-sizing: border-box;
  padding-top: 10%;
  width: 90%;
  height: auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-bottom: 20%;
}

.card .title {
  margin-left: 6%;
  margin-top: 2%;
}

.card p {
  margin-left: 8%;
}

.frame {
  margin-left: -17%;
}

.code-links {
  display: flex;
  align-self: start;
  justify-content: space-between;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 50%;
  height: auto;
  color: #6070ff;
  margin: 2% 8%;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background: #ebebff;
  border-radius: 8px;
  padding: 2.5%;
}

.button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: auto;
  padding: 2%;
  margin-left: -55%;
  margin-top: 10%;
  transition: 0.5s;
  cursor: pointer;
}

.button:active {
  background: #54d222;
  color: #fff;
}

.button:hover {
  background: #6070ff;
  color: #fff;
  transition: 0.5s;
}

.button a {
  color: #396df2;
}
/* stylelint-disable-next-line rule */
